<h1>Create your account</h1>
<p>It's free(and always will be)</p>

<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this @user from being saved:</h2>
    <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>


<%= form_with(model: @user, local: true) do |f| %>
<div class="form">
  <%= f.text_field :name , :placeholder => "name" %>
</div>
<div class="form">
  <%= f.email_field :email, :placeholder => "email address" %>
</div>
<div class="form">
  <%= f.password_field :password, :placeholder => "password" %>
</div> 
<div class="form"> 
  <%= f.password_field :password_confirmation, :placeholder => "password confirmation" %>
</div>

<div class="form">
  <%= f.submit "Submit", :class=>"btn btn-primary btn-sm" %>
</div>

<% end %>